@media only screen and (max-width:850px) {

    .profile img {
        width: 70%;
    }

    .overlay {
        width: 200px;
        height: 200px;
    }

    .main-container {
        flex-direction: column;
    }

    .data {
        flex-direction: column;
        top: 2rem;
        position: relative;
    }

    .about {
        top: 2rem;
        left: 0;
    }

    .copy {
        flex-direction: column;
    }

    .project-data {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .pd2 {
        margin-top: 2rem;

    }
}

@media only screen and (max-width:350px) {
    html {
        font-size: 8px;
    }

    .profile img {
        width: 50%;
    }

    .overlay {
        width: 100px;
        height: 100px;
    }


    .main-container {
        top: 3rem;
    }

    .pd2 img {
        max-width: 100%;
    }


}