* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    /* equal to 1 rem*/
}

body {
    background-color: #fff7eb;
}

video {
    object-fit: cover;
    min-width: 100%;
    height: 100%;
    position: absolute;
    z-index: -69;
}


header {
    color: white;
    height: 106px;
    /* background-color: #fff5e2; */
    background-image: url('images/c.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(240, 201, 151);
    box-shadow: 1px 1px 5px 2px rgb(31, 30, 30);
}

.intro {
    font-size: 1.6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro p {
    font-size: 3rem;
    padding: 0.3rem;
    font-family: cursive;
    width: fit-content;
    text-shadow: 4px 5px 2px rgb(201, 96, 101);

}

.links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

abbr[title] {
    text-decoration: none;
}

.links li a {
    text-transform: uppercase;
    position: relative;
    top: 2.5rem;
    border-radius: 10px;
    font-size: 1.6rem;
    padding: 1rem;
    transition: all 0.4s linear 5ms;
    color: white;
    margin: 1rem;
}

.links li a:hover {
    background-color: rgb(248, 198, 180);
}

a {
    text-decoration: none;
    color: black;
}

/* fixed left side icon work */

.in-co {
    position: fixed;
    right: 0;
    z-index: 50;
    background-color: #fcdaa8;

}

.ins1 {
    top: 20rem;
    border-top-left-radius: 50%;
}

.ins2 {
    top: 25rem;
}

.ins3 {
    top: 30rem;
    border-bottom-right-radius: 50%;
}


.ins i {
    padding-bottom: 1rem;
    font-size: 4rem;
    transition: all 1s ease-in;
    display: block;
    width: fit-content;
}

.ins i:hover {
    transition: all 0.5s ease-in;
    padding-right: 6rem;
    background-color: #f3a126;
}


/* fixed left side icon work end here*/

/* main container work start here */
.main-container {
    color: white;
    position: relative;
    top: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    border-right: 2px solid rgb(218, 172, 155);
}

.overlay img {

    border-radius: 100%;
}

.namste h2 {
    font-size: calc(2vw + 1rem);
    text-transform: capitalize;
}

.namste .name {
    font-size: calc(2vw + 3rem);
    color: rgb(255, 97, 6);
    border-bottom: 2px dotted orange;
    animation: texto 2s infinite;
    text-shadow: 0.3rem 0.3rem 0.2rem rgb(56, 56, 54);
}

.namste p {
    font-size: 2rem;
}

.about {
    position: relative;
    left: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.namste {
    text-align: center;
}


.data {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-bottom: 2px solid rgb(218, 172, 155);
    margin: 5px;
    border-radius: 50%;
    transition: all 0.4s ease-in;
}

.resume:hover {
    box-shadow: 1px 1px 10px #f7cd8f;

}

.resume-child {
    text-transform: capitalize;
    font-size: 1.4rem;
    width: 80px;
    height: 80px;
    background-color: #f3d5a9;
    margin: 5px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;

}


.rskills {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 12rem;
    margin-top: 4rem;
}

.sub-head {
    border-right: 2px solid #e6951b;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.skills-data {
    padding: 4rem;
    text-align: center;
    position: relative;
    font-size: 2rem;
}

.skills-data i {
    padding: 1rem;
    color: #e6951b;
}

.skills-data h4 {
    border-bottom: 2px dotted #e6951b;
    padding: 1rem;
}


/* project section work */
.projects {
    margin: 1rem;
    max-height: 100vh;
    position: relative;
    margin-bottom: 4rem;
    top: 15rem;
    display: flex;
    justify-content: space-around;
}

.sub-head {
    padding: 1rem;
}

.projects .num {
    color: rgb(255, 97, 6);
    animation: proj-num 5s ease-in-out infinite;
    margin-top: 1rem;
}

@keyframes proj-num {
    0% {
        color: rgb(255, 97, 6);
        box-shadow: 2px 2px 2px rgb(255, 97, 6);
    }

    25% {
        color: rgb(54, 100, 22);
        box-shadow: 2px 2px 2px rgb(54, 100, 22);
    }

    50% {
        color: rgb(10, 6, 255);
        box-shadow: 2px 2px 2px rgb(10, 6, 255);
    }

    75% {
        color: rgb(255, 6, 243);
        box-shadow: 2px 2px 2px rgb(255, 6, 243);
    }

    100% {
        color: rgb(255, 126, 6);
        box-shadow: 2px 2px 2px rgb(255, 126, 6);
    }
}

.project-data {
    display: flex;
    justify-content: center;
}

.pd1,
.pd2 {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pd1 p {
    font-size: 2rem;
    text-align: center;
    padding: 0 2rem;
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.2rem;
    max-width: 100rem;
}

.pd1 h2 {
    padding: 1rem;
    text-shadow: 7px 5px 6px;
    font-family: cursive;
    font-size: 4rem;
    text-align: center;
}

.pd-btn {
    width: 100%;
    text-align: center;
    margin-top: 3rem;
}

.pd-btn a {
    text-transform: capitalize;
    padding: 1rem;
    margin: 1rem;
    border-radius: 6%;
    text-decoration: none;
    font-size: calc(0.7vw + 0.9rem);
    border: 2px solid rgb(247, 184, 68);
    background-color: #f1ce9a;
    transition: all 0.7s ease-out;
}

.pd-btn a:hover {
    background-color: #eea12f;

}

.pd2 h3 {
    font-family: cursive;
    padding: 1rem;
    text-transform: capitalize;
    font-size: 2rem;
}

.pd2 img {
    max-width: calc(2vw + 50%)
}



/************footer work here ***********/

footer {
    font-size: 1.5rem;
    position: relative;
    top: 200px;
    background-color: #fff5e2;
    font-family: sans-serif;
    box-shadow: 2px 1px 5px 1px rgb(15, 15, 15);

}

.quick h3 {
    padding: 20px;
    text-align: center;
    font-family: 'Tangerine', serif;
    color: rgb(68, 68, 68);
    font-size: 2rem;
    font-weight: 900;
    text-shadow: 7px 5px 6px;

}

.quick h3:hover {
    color: rgb(167, 154, 37);
}

.quick ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;

}

.quick ul li {

    padding: 6px;
}

.shear_maintainer {
    margin-top: 3rem;
    padding-bottom: 0.6rem;
    display: flex;
    justify-content: space-between;


}

.followUs h4 {
    font-size: 12px;
    text-align: center;
    color: #000000;
    border-bottom: 2px solid rgb(66, 61, 61);
    width: max-content;
    margin-left: 3.2rem;
    padding-bottom: 2px;

}

.followUs h4:hover,
.dh:hover {
    color: #3494E6;
    border-bottom: 2px solid rgb(211, 97, 21);
    transition: 1s;

}

.shear {
    display: flex;
    align-items: center;
    padding: 5px;

}

.shear i {
    padding-left: 15px;
}

footer i:hover {
    color: rgb(230, 226, 30);
    transition: 0.5s;
}


.m-logo img {

    margin: 3px;
    max-width: 35px;

}


/* copyright & designed heading */

.ms {
    color: rgb(0, 0, 0);
    transition: 0.5s;
    margin-right: 20px;
    text-align: center;


}


.dh {
    font-size: 12px;
    border-bottom: 2px solid rgb(0, 0, 0);
    width: max-content;
    padding-bottom: 3px;
}

.copy {
    box-shadow: 2px 1px 5px 1px rgb(15, 15, 15);
    padding-bottom: 1rem;
    padding: 0.7rem;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.policy {
    color: rgb(0, 0, 0);
    cursor: pointer;
}



.copyRight {
    color: rgb(0, 0, 0);
    text-align: center;
    cursor: pointer;

}

.bb {
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
}

.ico {
    color: #070707;
    font-size: 2.4rem;

}